<!--TOOLBAR FOR DESKTOP / TABLET-->
<md-toolbar class="client-header md-whiteframe-4dp md-hue-1 md-medium-tall" layout="row" layout-align="space-between center" hide show-gt-sm>

    <div class="md-toolbar-tools" layout-align="start center">
        <a href="client#/main"><img src="/assets/images/open_arms_logo.svg" width="50" hide-gt-md class="header-logo"></a>

        <img src="/assets/images/open_arms_logo_combined.svg" width="290" hide show-gt-md class="header-logo">
    </div>

    <div class="md-toolbar-tools" layout-align="end center">

        <form action="/user/logout">
            <md-button class="logout-button" aria-label="Logout" type="submit">
                Logout
            </md-button>
        </form>
    </div>
</md-toolbar>
