<!--<div class="admin-header">-->
    <!--<h1 class="menu-title">Open Arms Admin Page</h1>-->
    <!--<button><a href="/user/logout">Logout</a></button>-->
<!--</div>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" ng-src="/assets/images/openarms.png" height="100">
            </a>
        </div>
        <h3 class="title">Open Arms of Minnesota</h3>
        <!--<button type="button" class="btn btn-default navbar-btn navbar-right" ><a href="/user/logout">Logout</a></button>-->
        <a href="/user/logout" class="btn navbar-btn navbar-right light-button"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
</nav>