<div class="side-nav">
    <ul>
        <li>
            <a href="#main">Admin Welcome</a>
        </li>
        <li>
            <a href="#addclient">Add Client</a>
        </li>
        <li>
            <a href="#calculatemeals">Calculate Meals</a>
        </li>
        <li>
            <a href="#createmeal">Create Meal</a>
        </li>
        <li>
            <a href="#createmenu">Create Menu</a>
        </li>
        <li>
            <a href="#searchclient">Search Client</a>
        </li>
        <li>
            <a href="#viewmeal">View Meal</a>
        </li>
        <li>
            <a href="#viewmenu">View Menu</a>
        </li>
    </ul>
</div>