<div class="side-nav">
    <div class="brand">
        <a class="icon" href="#">
            <img alt="Brand" ng-src="/assets/images/openarms.png" height="100">
        </a>
    </div>
    <ul style="list-style: none" class="route-list">
        <li class="route-li">
            <a href="#main" class="lead route-link">Dashboard</a>
        </li>
        <li class="route-li">
            <a href="#addclient" class="lead route-link">Add Client</a>
        </li>
        <li class="route-li">
            <a href="#calculatemeals" class="lead route-link">Calculate Meals</a>
        </li>
        <li class="route-li">
            <a href="#createmeal" class="lead route-link">Create Meal</a>
        </li>
        <li class="route-li">
            <a href="#createmenu" class="lead route-link">Create Menu</a>
        </li>
        <li class="route-li">
            <a href="#searchclient" class="lead route-link">Search Client</a>
        </li>
        <li class="route-li">
            <a href="#viewmeal" class="lead route-link">View Meal</a>
        </li>
        <li class="route-li">
            <a href="#viewmenu" class="lead route-link">View/Edit Menu</a>
        </li>
    </ul>
    <a href="/user/logout" class="sign-out btn dark-button"><i class="fa fa-sign-out"></i>Logout</a>
</div>