<div class="side-nav">
    <li>
        <ul>
            <a href="#main">Admin Welcome</a>
        </ul>
        <ul>
            <a href="#addclient">Add Client</a>
        </ul>
        <ul>
            <a href="#calculatemeals">Calculate Meals</a>
        </ul>
        <ul>
            <a href="#createmeal">Create Meal</a>
        </ul>
        <ul>
            <a href="#createmenu">Create Menu</a>
        </ul>
        <ul>
            <a href="#searchclient">Search Client</a>
        </ul>
        <ul>
            <a href="#viewmeal">View Meal</a>
        </ul>
        <ul>
            <a href="#viewmenu">View Menu</a>
        </ul>
    </li>
</div>