/*COLOR PALLETE

White Font: #dfdedb

Orange: #ff7052;
Dark brown from website: #5a1616;
beige on hover: #dcb484;
rusty orange: #d78119;

*/


/*FONTS*/
html, body {
    /*background-color: #e0e0d8;*/
    background: url('/assets/images/cooked_tagliatelle_low_opacity.jpg') #f5eecf;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

/*HEADERS STYLING*/
.admin-header{
    font-family: "Arvo", serif;
    color: #5a1616;
    padding-bottom: 2px;
    margin-bottom: 15px;
    border-bottom: 3px solid #5a1616;
}

.admin-subheader{
    font-family: "Arvo", serif;
    color: #5a1616;
}


.lead, .btn, .custom-button, .dark-button, .category, label{
    font-family: 'Varela Round', sans-serif;
}

.category{
    color: #5a1616;
}

.message-lead{
    text-align: center;
    color: #806f6f;
    border-bottom: 2px solid #806f6f;
    margin-bottom: 0px;
}

.info{
    color: #806f6f;
    margin-bottom: 15px;
}

.info *{
    margin-bottom: 5px;
}

/*NAV STYLING*/
.sidebar{
    padding: 0;
    text-align: right;
    /*background-color: #d78119;*/
    background-color: #f1f3eb;
    border-right: 1px solid #d5d9d2;
    height: 100vh;
    -webkit-box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.75);
}

.brand {
    margin: 25px auto;
    text-align: center;
}

.route-list{
    margin-top: 20px;
    /*width: 100%;*/
    padding-left: 0px;

}

.route-link{
    margin: 0px;
    width: 100%;
    padding: 10px 15px 10px 0;
    color: #5a1616;
    display: block;
}

.route-link:hover{
    background: #ffffff;
    background: -moz-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,.5) 100%);
    background: -webkit-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,.5) 100%);
    background: -o-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,.5) 100%);
    background: -ms-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,.5) 100%);
    /*background-color: #aa5555;*/
    color: #5a1616;
    text-decoration: none;

}
.route-link:active,.route-link.active{
    background: #ffffff;
    background: -moz-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,1) 100%);
    background: -webkit-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,1) 100%);
    background: -o-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,1) 100%);
    background: -ms-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,1) 100%);
    /*background-color: #904848;*/
    color: #5a1616;
    text-decoration: none;
}

.route-link:focus,.route-link.focus{
    background: #ffffff;
    background: -moz-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,1) 100%);
    background: -webkit-linear-gradient(left, #f1f3eb 0%, rgba(255,206,73,1) 100%);
    background: -o-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,1) 100%);
    background: -ms-linear-gradient(left, #f1f3eb 0%,  rgba(255,206,73,1) 100%);
    /*background-color: #904848;*/
    color: #5a1616;
    text-decoration: none;
}


.sign-out{
    width: 60%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

/*MAIN ROUTES STYLING*/
.route{
    background-color: rgba(255,255,255,.8);
    padding-left: 25px;
    padding-bottom: 10px;
    height: 100vh;
    overflow:scroll;
}

/*.route-body{*/
    /*padding-bottom: 10px;*/
/*}*/


/*BUTTONS*/

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}


.custom-button{
    border: 3px solid #5a1616;
    padding: 5px 10px;
    background-color: #f1f3eb;
    color: #5a1616;
    text-align: center;
    -webkit-transition: background-color .3s, color .3s;
    -moz-transition: background-color .3s, color .3s;
    -ms-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}
.custom-button:hover{
    text-decoration: none;
    background-color: #5a1616;
    color: #ffffff;
}

.custom-button:active{
    text-decoration: none;
    background-color: #5a1616;
    color: #ffffff;
}



.dark-button{
    border: 3px solid #d78119;
    background-color: #ffffff;
    color: #d78119;
    -webkit-transition: background-color .3s, color .3s;
    -moz-transition: background-color .3s,  color .3s;
    -ms-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.dark-button:hover {
    background-color: #d78119;
    color: #ffffff;
    border: 3px solid #d78119;
}

.dark-button.active.focus, .dark-button.active:focus, .dark-button.focus, .dark-button:active.focus,
.dark-button:active:focus, .dark-button:focus {
    background-color: #ffffff;
    color: #d78119;
}


.dark-button.active.focus:hover, .dark-button.active:focus:hover, .dark-button.focus:hover, .dark-button:active.focus:hover,
.dark-button:active:focus:hover, .dark-button:focus:hover {
    border-color: #c47119;
    background-color: #c47119;
    color: #ffffff
}



/*FILE BUTTON*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*FORM FORMATING AND VALIDATION*/
.form-group{
    height: 100px;
    margin-bottom: 0;
}
.warning-message{
    color: #a94442;
    padding-left: 10px;
    /*top: -15px;*/
}

.label-lead{
    /*margin-top: 15px;*/
    margin-bottom: 3px;
}

/*UI GRID STYLING */
.ui-grid{
    margin-top: 15px;
}

.ui-grid-vcenter div {
    text-align:center;
    position: relative;
}

.custom-button-ui-grid{
    border-radius: 5px;
    padding: 1px 4px;
    border: 3px solid #d78119;
    background-color: #ffffff;
    color: #d78119;
    -webkit-transition: background-color .3s, color .3s;
    -moz-transition: background-color .3s,  color .3s;
    -ms-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.custom-button-ui-grid:hover {
    background-color: #d78119;
    color: #ffffff;
    border: 3px solid #d78119;
}

.custom-button-ui-grid.active.focus, .custom-button-ui-grid.active:focus, .custom-button-ui-grid.focus,
.custom-button-ui-grid:active.focus, .custom-button-ui-grid:active:focus, .custom-button-ui-grid:focus {
    background-color: #ffffff;
    color: #d78119;
}


.custom-button-ui-grid.active.focus:hover, .custom-button-ui-grid.active:focus:hover, .custom-button-ui-grid.focus:hover,
.custom-button-ui-grid:active.focus:hover, .custom-button-ui-grid:active:focus:hover, .custom-button-ui-grid:focus:hover {
    border-color: #c47119;
    background-color: #c47119;
    color: #ffffff
}




/*WELCOME PAGE STYLING*/
.welcome-header{
    text-align: center;
}


.date-picker {
    text-align: center;
    margin-left: -10px
}

.date-display{
    display: inline-block;
    width: 300px;
}


.csv-buttons{
    text-align: center;
    margin-left: 15px;
}
.csv-buttons * {
    margin: 0 25px;
}

.switch-week{
    margin: 0 25px;
}

/*CREATE MENU STYLE*/
#weekNumber{
    width: 50px;
    margin: 0;
    padding-right: 20px;
}

.dropdown-container {
    height: 380px;
    margin-bottom: 0;
}



/*ADD CLIENT STYLIHG*/
.submit-buttons{
    margin-top: 10px;
}

.csv-field{
    padding-left: 3px;
}

/*Calculate meals page*/
.meal-form{
    display: block
}

/*!*SPLASH*!*/

/*.view-meal-modal {*/
    /*color: green;*/

    /*display: none;*/
/*}*/

/*.view-meal-window{*/
    /*color: blue;*/
    /*display: none;*/
/*}*/

/*.view-meal-backdrop{*/
    /*background-color: red;*/
/*}*/