/*COLOR PALLETE

White Font: #dfdedb
*/

/*HEADER STYLING*/
/*header{*/
    /*height: 150px;*/
    /*background-color: #eceae4;*/
/*}*/

.menu-title{
    margin-top: 0;
}

.my-grid {
    width: 1200px;
    height: 250px;
}


/*NAVBAR STYLING*/
.navbar {
    /*height: 70px;*/
    margin-bottom: 0;
    background-color: #3f5566;
    color: #dfdedb;
    border-radius: 0px;
    border: none;
    z-index: 1;
}

.navbar-btn {
    margin-top: -40px;
    margin-bottom: 17px;
    margin-right: 15px;
}

.navbar-brand {
    padding: 7px 15px;
}

/*NAV STYLING*/
.side-nav{
    padding-right: 10px;
    text-align: right;
    float: left;
    width: 14.5%;
    background-color: #dfdedb;
    position:absolute;
    height: 725px;
    -webkit-box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 0px 28px 0px rgba(0,0,0,0.3);
}

.route-list{
    margin-top: 20px;
}

.route-link{
    padding: 10px 0;
}

/*MAIN ROUTES STYLING*/
.route{
    padding-left: 15px;
    float:right;
    width: 85%;
    height: 725px;
    overflow:scroll;
}


/*BUTTONS*/

.light-button{
    background-color: #dfdedb;
    border-color: #bab9b6;
    color: #3f5566;
}

.light-button:hover {
    background-color: #cdccc9;
    border-color: #a1a09d;
    color: #3f5566;
}

.light-button:active {
    background-color: #bcbbb8;
    border-color: #92918e;
    color: #3f5566;
}
.light-button:active:focus {
    background-color: #aaa9a6;
    border-color: #81807d;
    color: #3f5566;
}

.dark-button{
    border-color: #667e8f;
    background-color: #506372;
    color: #eff1ec;
}

.dark-button:hover {
    border-color: #5a7283;
    background-color: #485b6a;
    color: #eff1ec;
}

.dark-button:active {
    border-color: #4b6172;
    background-color: #3d4f5d;
    color: #eff1ec;
}

.dark-button:active:focus {
    border-color: #3f5566;
    background-color: #324352;
    color: #eff1ec;
}

/*WELCOME PAGE STYLING*/
.welcome-header{
    text-align: center;
}
.date-picker {
    text-align: center;
}