<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular / Bootstrap Boilerplate</title>

    <!--STYLES-->
    <!--<link rel="stylesheet" href="/vendors/normalize.css">-->

    <link rel="stylesheet" href="/vendors/ui-grid-stable.min.css">
    <link rel="stylesheet" href="/vendors/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/clientstyle.css">
</head>
<body layout="column" layout-align="space-between">

<md-toolbar>
    <header ng-include="'/assets/views/templates/clientheader.html'"></header>
</md-toolbar>

<md-content>
    <main class="main route" ng-view></main>
</md-content>

<md-toolbar>
    <footer ng-include="'/assets/views/templates/clientfooter.html'"></footer>
</md-toolbar>

<!--SCRIPTS-->
<script type="text/javascript" src="/vendors/angular.min.js"></script>
<script type="text/javascript" src="/vendors/angular-route.min.js"></script>
<script type="text/javascript" src="/vendors/angular-animate.min.js"></script>
<script type="text/javascript" src="/vendors/angular-aria.min.js"></script>
<script type="text/javascript" src="/vendors/angular-messages.min.js"></script>
<script type="text/javascript" src="/vendors/angular-material.min.js"></script>
<script type="text/javascript" src="/vendors/underscore-min.js"></script>
<script type="text/javascript" src="/vendors/ui-grid-stable.min.js"></script>
<script type="text/javascript" src="/assets/scripts/client.min.js"></script>
<script type="text/javascript" src="/assets/scripts/factories/factory.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>
<script type="text/javascript" src="/assets/scripts/directives/directive.min.js"></script>

</body>
</html>