<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    <!--<link rel="stylesheet" href="/vendors/normalize.css">-->
    <!--<link rel="stylesheet" href="/assets/styles/loginstyle.css">-->
<!--</head>-->
<!--<body>-->
    <!--<div class="instructions">-->
        <!--<div class="container">-->
            <!--<h1 class="lead text-center">Admin Registration</h1>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container">-->
        <!--<div class="well text-center">-->
            <!--<h3>Login</h3>-->

            <!--<form class="form-horizontal" action="/register/admin" method="post">-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="email">Email:</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input class='form-control' type="email" name="email" id="email"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="password">Set gPassword:</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input class='form-control' type="password" name="password" id="password"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<input class='btn btn-default col-md-4' type="submit" value="Log In"/>-->
                    <!--&lt;!&ndash;<a class="col-md-4" href="/password">Forgot your password?</a>&ndash;&gt;-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/loginstyle.css">

</head>
<body>
    <div class="registration">
        <a class="btn" href="/">Back to Login</a>
    </div>
    <header class="title">
        <img src="/assets/images/open_arms_logo.svg" width="175">
        <h3 class="title-text">Meal Picker</h3>
    </header>
    <form class="login" >
    <!--action="/register/admin" method="post"-->
        <fieldset>

            <legend class="legend">Register</legend>

            <div class="input">
                <input type="email" placeholder="Enter an Email" name="email" required />
                <span><i class="fa fa-envelope-o"></i></span>
            </div>

            <div class="input password">
                <input type="password" placeholder="Enter a Password" name="password" required />
                <span><i class="fa fa-lock"></i></span>
            </div>

            <div class="input password">
                <input type="password" placeholder="Repeat your Password" name="checkPassword" required />
                <span><i class="fa fa-lock"></i></span>
            </div>

            <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>

        </fieldset>

        <div class="feedback-success">
            registration successful! <br />
            redirecting back to login...
        </div>

        <div class="feedback-failure">
            passwords do not match<br />
            please re-enter your password.
        </div>

        <div class="feedback-failure-username">
            Account for this email already exists.<br />
            please enter a different email address.
        </div>

    </form>
    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/register.min.js"></script>
</body>
</html>