<div class="route-body">
    <h1 class="welcome-header admin-header">Welcome!</h1>
    <div class="date-picker">
        <p class="lead">Displaying information for the week of:</p>
        <button class="switch-week btn dark-button" ng-click="previousWeek()"><i class="fa fa-chevron-left"></i> Previous Week</button>
        <span class="lead date-display">{{selectedStartDate | date: 'fullDate'}}</span>
        <button class="switch-week btn dark-button" ng-click="nextWeek()" ng-disabled="disableNext()">Next Week <i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="csv-buttons">
        <button type="button"  class="btn dark-button" ng-csv="printMealCount()" csv-header="['Entree', 'Side 1', 'Side 2', 'Start Date','Number of Meals']"
                csv-column-order="['entree', 'side_1', 'side_2', 'start_date', 'end_date','count']" filename="mealCount.csv">Export Meal Count</button>
        <!--<button class="print" ng-click="printMealCount()">Print Meal Count Quantity</button>-->
        <button type="button" class="btn dark-button"  ng-csv="printClientOrders()" csv-header="['First Name', 'Last Name', 'Entree', 'Side 1', 'Side 2', 'Start Date','Number of Meals']"
                csv-column-order="['first_name', 'last_name', 'entree', 'side_1', 'start_date', 'count']" filename="clientOrders.csv">Export Client Orders</button>
        <!--<button class="print" ng-click="printClientOrders()">Print Client Orders</button>-->
    </div>

    <div>
        <div class="row admin-welcome-meal-calc-header-div">
            <p class="col-xs-1 col-xs-offset-1 admin-welcome-meal-calc-header">Meal</p>
            <p class="col-xs-3 admin-welcome-meal-calc-header">Entree</p>
            <p class="col-xs-2 admin-welcome-meal-calc-header">Side 1</p>
            <p class="col-xs-2 admin-welcome-meal-calc-header">Side 2</p>
            <!--<p class="col-xs-2 admin-welcome-meal-calc-header">Category</p>-->
            <p class="col-xs-2 admin-welcome-meal-calc-header">Number of Orders</p>
        </div>

        <div class="calcResults row" ng-repeat="meal in selectedMealCount track by $index">
            <p class="col-xs-1 col-xs-offset-1 admin-welcome-meal-calc-data">{{$index+1}}</p>
            <p class="col-xs-3 admin-welcome-meal-calc-data">{{meal.entree}}</p>
            <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.side_1}}</p>
            <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.side_2}}</p>
            <!--<p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.category_name}}</p>-->
            <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.count}}</p>
        </div>

    </div>

</div>

