<div class="route-body">

    <h1 class="admin-header">Meal Calculation</h1>
    <div ng-hide="whenSubmit">
    <div class="info">
        <p>Instructions: </p>
        <p>Enter in the total number of 5 packs for each category to determine the total number of individual
            meals to be prepared for the week of: {{selectedStartDate | date: 'fullDate'}}</p>
    </div>
    <form novalidate class="meal-form" name="mealCountForm" ng-submit="calculateMeals()">
        <div class="row">
            <div class="form-group col-md-4 col-sm-6 col-xs-12" ng-repeat="category in categories">
                <label class="lead label-lead">{{category.category_name}}</label>
                <input class="form-control" type="number" min="0" name="{{category.category_name}}" ng-model="category.formCount">
            </div>
        </div>
        <button type="submit" class="btn dark-button">Submit</button>
    </form>
    </div>

    <div ng-show="displayResults">
            <div class="row admin-welcome-meal-calc-header-div">
                <p class="col-xs-1 admin-welcome-meal-calc-header">Meal</p>
                <p class="col-xs-3 admin-welcome-meal-calc-header">Entree</p>
                <p class="col-xs-2 admin-welcome-meal-calc-header">Side 1</p>
                <p class="col-xs-2 admin-welcome-meal-calc-header">Side 2</p>
                <!--<p class="col-xs-2 admin-welcome-meal-calc-header">Category</p>-->
                <p class="col-xs-2 admin-welcome-meal-calc-header">Number of Orders</p>
            </div>

            <div class="calcResults row" ng-repeat="meal in menu track by $index">
                <p class="col-xs-1 admin-welcome-meal-calc-data">{{$index+1}}</p>
                <p class="col-xs-3 admin-welcome-meal-calc-data">{{meal.entree}}</p>
                <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.side_1}}</p>
                <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.side_2}}</p>
                <!--<p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.category_name}}</p>-->
                <p class="col-xs-2 admin-welcome-meal-calc-data">{{meal.count}}</p>
            </div>

        </div>
    </div>
</div>
