
<!--TOOLBAR FOR MOBILE-->
<md-toolbar class="client-mobile-header md-whiteframe-4dp md-hue-1" layout="row" layout-align="space-between center" show-sm hide-gt-sm>

    <div class="md-toolbar-tools" layout-align="start center">
        <img src="/assets/images/open_arms_logo.svg" width="30" ng-click="backToHome()" class="header-logo">
    </div>


    <div class="md-toolbar-tools" layout-align="end center">


        <md-button class="mobile-header-icons" ng-if="customized" ng-click="toggleBasket()">
            <i class="fa fa-shopping-basket fa-lg badge-position"></i>
            <span class="badge">{{badgeNumber}}</span>
            <!--<span>Shopping Basket</span>-->
        </md-button>

        <md-button class="mobile-header-icons" ng-click="toggleModal3()" ng-if="!mealsChosen && !notActive">
            <i class="fa fa-question-circle fa-lg"></i>
            <!--<span>Instructions</span>-->
        </md-button>

        <form action="/user/logout">
            <md-button class="logout-button mobile-header-icons" aria-label="Logout" type="submit">
                <i class="fa fa-sign-out fa-lg"></i>
                <!--<span>Logout</span>-->
            </md-button>
        </form>
    </div>
</md-toolbar>

<md-content class="welcome-message" ng-if="!mealsChosen && !customized && !notActive">
    <div layout="row" layout-align="end center" hide show-gt-sm>
    <md-button class="instruction-button" ng-click="toggleModal3()">Instructions</md-button>
    </div>
    <div class="md-whiteframe-1dp welcome-message-content" layout-padding flex-gt-lg="60" flex-offset-gt-lg="20" flex-gt-sm="70" flex-offset-gt-sm="15" flex-sm="90" flex-offset-sm="5">

        <h1 class="welcome-message-title">Welcome <span class="welcome-message-name">{{user.first_name}}!</span></h1>

        <div layout="column">
            <!--<h2 class="welcome-default-meal-message">Your default meal pack is: {{user.default_meal}}<br>-->
                <h2 class="welcome-default-meal-message">These are your default meals for the week of: {{activeWeek | date: 'longDate'}}</h2>

            <ol class="meal-info-list">
                <li class="meal-info" ng-repeat="meal in menu track by $index" ng-if="user.category_id == meal.category_id">

                    <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
                    <p class="allergen-text" ng-repeat="allergen in meal.allergen">Allergen: {{allergen}}</p>

                </li>
            </ol>

        </div>

        <div class="welcome-message-buttons-container" layout="column" layout-align="center center" layout-gt-md="row">
            <md-button class="md-raised welcome-message-button" ng-click="toggleModal()">
                <span hide show-gt-sm>I prefer the default options listed above</span>
                <span hide-gt-sm>Accept Default</span>
            </md-button>
            <span> or </span>
            <md-button class="md-raised welcome-message-button" ng-click="customize()">
                <span hide show-gt-sm>I would like to customize meals</span>
                <span hide-gt-sm>Customize Meals</span>
            </md-button>
        </div>

        <!--Modal for meal confirmation for default meal selection-->
        <modal-dialog class="default-confirmation-modal" show='modalShown' ng-if="!mealsChosen && !customized && !notActive">
            <md-content flex-offset="5">
                <h1>Meal Confirmation for the week of: {{activeWeek | date: 'longDate'}}</h1>
                <h2>You have selected:</h2>

                <ol>
                    <li class="meal-info" ng-repeat="meal in menu track by $index" ng-if="user.category_id == meal.category_id">

                        <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
                        <p class="allergen-text" ng-repeat="allergen in meal.allergen">Allergen: {{allergen}}</p>

                    </li>
                </ol>

                <md-button class="md-raised confirmation-modal-button" ng-click="postDefaultMeal()">Confirm Meal Selection</md-button>
                <md-button class="md-raised md-warn confirmation-modal-button" ng-click="toggleModal()">No - Go Back</md-button>

            </md-content>
        </modal-dialog>

        <!--Modal for Instructions-->
        <modal-dialog show='modalShown3' ng-if="!mealsChosen && !customized && !notActive">
            <md-content>
                <instructions></instructions>

                <md-button class="md-raised" ng-click="toggleModal3()">Close</md-button>

            </md-content>
        </modal-dialog>

    </div>
</md-content>



<!------------- CUSTOMIZE MEALS PAGE ---------------->
<md-content class="customize-meals" ng-if="customized">

    <!--PICNIC BASKET (MOBILE VERSION)-->
    <div ng-if="showBasket" class="mobile-picnic-basket">
            <div class="picnic-basket-header">
                <h1>Meals Selected</h1>
                <md-button class="md-raised md-accent md-hue-3 submit-meal-button" ng-disabled="!addedMealArray[0]" ng-click="toggleBasketSubmission()">Submit Meal Selection</md-button>
            </div>
            <div class="meal-info" ng-repeat="meal in addedMealArray track by $index" layout="row" layout-align-gt-xs="space-between start">

                <div flex-xs="60">
                    <p>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></p>
                    <p class="allergen-text" ng-repeat="allergen in meal.allergen">  Allergen: {{allergen}}</p>
                </div>

                <div flex-xs="40">
                    <md-button class="md-warn remove-meal-button" ng-click="removeMeal($index)">Remove Meal</md-button>
                </div>

            </div>
    </div>

    <!--PICNIC BASKET CONFIRMATION (MOBILE VERSION)-->
    <div class="mobile-picnic-basket" ng-if="showMobileConfirmation">

        <div class="picnic-basket-header">
            <h1>Meal Confirmation for the week of: {{activeWeek | date: 'longDate'}}</h1>
            <h2>You have selected:</h2>
        </div>

        <ol>
            <li class="meal-info" ng-repeat="meal in addedMealArray track by $index">
                <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
                <p class="allergen-text" ng-repeat="allergen in meal.allergen">  Allergen: {{allergen}}</p>
            </li>
        </ol>

        <md-button class="md-raised" ng-click="postCustomMeal()">Confirm Meal Selection</md-button>
        <md-button class="md-raised md-warn" ng-click="toggleBasketSubmission()">No - Go Back</md-button>

    </div>

    <!--CUSTOMIZE MEAL CONTAINER-->
    <div flex-gt-sm="90" flex-offset-gt-sm="5" class="customize-meals-container md-whiteframe-2dp">

        <div layout-gt-sm="row" layout-align-gt-sm="space-between center">
            <md-button class="back-button md-raised" hide show-gt-sm ng-click="backToHome()">< Back</md-button>

            <div layout="column" layout-align="center center" class="customize-meals-title">
                <h1>Customize Meal Selection</h1>
                <h2>For the week of: {{activeWeek | date: 'longDate'}}</h2>
            </div>

            <md-button hide show-gt-sm class="instruction-button md-raised" ng-click="toggleModal3()">Instructions</md-button>
        </div>

        <div class="customize-meals-content" layout="row">
            <div flex flex-gt-sm="55" layout="column">

                <div ng-repeat="category in categories track by $index">

                    <div ng-init="accordion.current = user.default_meal">

                        <h2 class="accordion {{category.category_name}}" ng-class="{active:accordion.current == category.category_name}">
                            <md-button class="accordion-header" href ng-click="accordion.current = category.category_name">
                                {{category.category_name}}
                            </md-button>
                        </h2>

                        <div ng-show="accordion.current == category.category_name" ng-repeat="meal in category.mealInfo"
                             layout="row" layout-align="space-between start" flex="90" flex-offset="5"
                                class="meal-info">

                            <div class="accordion-left">
                                <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
                                <p class="allergen-text" ng-repeat="allergen in meal.allergen">Allergen: {{allergen}}</p>
                            </div>

                            <div class="accordion-right">
                                <md-button class="md-raised add-meal-button" ng-click="addMeal(meal)" ng-disabled="addedMealArray[4]">Add Meal</md-button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!--PICNIC BASKET (DESKTOP VERSION)-->
            <div flex-offset-gt-sm="5" flex-gt-sm="40" hide show-gt-sm>
                <div class="picnic-basket-header" layout="row" layout-align="space-between center">
                    <h2>Meals Selected</h2>
                    <md-button class="md-raised md-accent md-hue-3 submit-meal-button" ng-disabled="!addedMealArray[0]" ng-click="toggleModal2()">Submit Meal Selection</md-button>
                </div>
                <div class="meal-info" ng-repeat="meal in addedMealArray track by $index" layout="row" layout-align="space-between start">

                    <div>
                        <p>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></p>
                        <p class="allergen-text" ng-repeat="allergen in meal.allergen">  Allergen: {{allergen}}</p>
                    </div>

                    <div>
                        <md-button class="md-warn" ng-click="removeMeal($index)">Remove Meal</md-button>
                    </div>

                </div>

            </div>

        </div>

        <!--Modal for customized meal confirmation-->
        <modal-dialog class="confirmation-modal" show='modalShown2' ng-if="customized">
            <md-content flex-offset="5">
                <h1>Meal Confirmation for the week of: {{activeWeek | date: 'longDate'}}</h1>
                <h2>You have selected:</h2>

                <ol>
                    <li class="meal-info" ng-repeat="meal in addedMealArray track by $index">
                        <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
                        <p class="allergen-text" ng-repeat="allergen in meal.allergen">  Allergen: {{allergen}}</p>
                    </li>
                </ol>

                <md-button class="md-raised" ng-click="postCustomMeal()">Confirm Meal Selection</md-button>
                <md-button class="md-raised md-warn" ng-click="toggleModal2()">No - Go Back</md-button>

            </md-content>
        </modal-dialog>

        <!--Modal for Instructions-->
        <modal-dialog show='modalShown3' width='70%' height='90%' ng-if="customized">
            <md-content>
                <instructions></instructions>

                <md-button class="md-raised" ng-click="toggleModal3()">Close</md-button>

            </md-content>
        </modal-dialog>

    </div>
</md-content>

<!--SHOWS AFTER CLIENT CONFIRMED ORDER -->
<md-content class="already-ordered" ng-if="mealsChosen">
    <div class="md-whiteframe-1dp welcome-message-content" flex-gt-sm="80 "flex-gt-lg="60" flex-offset-gt-sm="10" flex-offset-gt-lg="20">

        <div layout="row" layout-align="space-between center">
            <h1 class="welcome-message-title">Thanks <span class="welcome-message-name">{{user.first_name}}!</span></h1>
        </div>

        <h1>Your meals for the week of {{activeWeek | date: 'longDate'}} have been ordered, enjoy!</h1>
        <h2>You have ordered:</h2>

        <div class="meal-info" ng-repeat="meal in orderedMealsArray">
            <h3>{{meal.entree}} with {{meal.side_1}}<span ng-if="meal.side_2"> and {{meal.side_2}}</span></h3>
            <h4>Quantity: {{meal.count}}</h4>
        </div>

    </div>
</md-content>

<!--SHOWS WHEN CLIENT STATUS IS NOT ACTIVE-->
<md-content class="not-active" ng-if="notActive">
    <div class="md-whiteframe-1dp not-active-content" flex-gt-sm="80 "flex-gt-lg="60" flex-offset-gt-sm="10" flex-offset-gt-lg="20">

        <div layout="row" layout-align="space-between center">
            <h1 class="welcome-message-title">Welcome <span class="welcome-message-name">{{user.first_name}}!</span></h1>
        </div>

        <h1>Our system shows that you have inactivated meal services.</h1>
        <h2>If this is incorrect, or if you would like to activate meal services, please call Client Services at 612-872-1152.</h2>

    </div>
</md-content>

