

<form name="createMeal" ng-hide="mealEntrySuccess"  ng-submit="submit()" onsubmit="return reset()">

    <div class='mealCategories checkbox-inline' ng-repeat="category in categories">
        <input type="checkbox" name="categoryCheckbox"  checklist-value="category" checklist-model="meal.categories" ng-required="!meal.categories[0]">

        <label>{{category.category_name}}</label>

    </div>

    <div ng-messages="createMeal.categoryCheckbox.$error">
        <div ng-message="required">Required to check at least one category</div>
    </div>

    <div>
        <input type="text" name="entree" placeholder="Entree" required ng-model="meal.entree"><br/>
        <div ng-messages="createMeal.entree.$error" ng-if="createMeal.entree.$touched">
            <div ng-message="required">Require Entree</div>
        </div>
        <input type="text" name="side1" placeholder="Side #1" required ng-model="meal.side_1"><br/>
        <div ng-messages="createMeal.side1.$error" ng-if="createMeal.side1.$touched">
            <div ng-message="required">Require One Side</div>
        </div>
        <input type="text" name="side2" placeholder="Side #2" ng-model="meal.side_2">
    </div>





    <div class='allergens checkbox-inline' ng-repeat="allergen in allergens">
        <input type="checkbox" checklist-value="allergen" checklist-model="meal.allergens">
        <label>{{allergen.allergen_name}}</label>
    </div>

    <div class="allergenSpecific" ng-if="findAllergen('Tree Nuts')">
        <input type="text" placeholder="Specific Tree Nut Allergen" ng-model="treeNutAllergen" ng-change="associate('Tree Nuts', treeNutAllergen)">
        <!--<span ng-if=" !! Tree Nuts === TRUE" class="animate-if"></span>-->
    </div>

    <div class="allergenSpecific" ng-if="findAllergen('Shellfish')">
        <input type="text" placeholder="Specific Shellfish Allergen" ng-model="shellfishAllergen" ng-change="associate('Shellfish', shellfishAllergen)">

    </div>

    <div class="allergenSpecific" ng-if="findAllergen('Fish')">
        <input type="text" placeholder="Specific Fish Allergen" ng-model="fishAllergen" ng-change="associate('Fish', fishAllergen)">

    </div>

</form>

<button class="btn btn-success" ng-click="submit()" ng-disabled="createMeal.$invalid">Enter New Entree</button>
<div ng-show="mealEntrySuccess"><h3>A New Meal Has Been Entered</h3></div>

<button class="btn btn-success" ng-click="refreshForm()" ng-show="mealEntrySuccess" >Reset -- Enter Another Meal</button>















