<div>
    <h1 class="admin-header">View/Edit Menu</h1>
    <div class="info">
        <p>Instructions: </p>
        <p>Select week, week start date, view menu or edit menu using drop-down menus for each category</p>
    </div>

    <form class="create-menu-form" name="createMenuForm" ng-submit="createMenu()">

        <label for="weekNumber">Select Week Number</label>
        <select name="weekNumber" id="weekNumber" ng-model="menu.weekNumber">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>

        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate" ng-model="menu.startDate">

        <label for="endDate">End Date</label>
        <input type="date" name="endDate" id="endDate" ng-model="menu.endDate">

        <button ng-click="getMenu(menu)">View Menu</button>

        <div ng-repeat="category in categories" ng-show="showCategoryHeadings">
            <h2>{{category.category_name}}</h2>

            <!--<p ng-repeat="meal in category.mealInfo">{{meal.entree}} with {{meal.side_1}}, {{meal.side_2}}</p>-->

            <!--<select name="selectOptions1" id="selectOptions1"-->
                    <!--ng-options="meal.entree for meal in category.mealInfo"-->
                    <!--ng-model="defaultMeal[0]">-->
            <!--</select>-->

            <!--<select name="selectOptions2" id="selectOptions2"-->
                    <!--ng-options="meal.entree for meal in category.mealInfo"-->
                    <!--ng-model="defaultMeal[1]">-->
            <!--</select>-->


            <select name="selectOptions1" id="selectOptions1"
                    ng-model="category.defaultMeal[0]"
                    ng-options="meal.entree + ' with ' + meal.side_1 + ', ' + meal.side_2 for meal in category.mealInfo"
                    ng-change="saveMeals(selectedMeal1, category.category_name, 0)">
            </select><br>

            <select name="selectOptions2" id="selectOptions2"
                    ng-model="category.defaultMeal[1]"
                    ng-options="meal.entree + ' with ' + meal.side_1 + ', ' + meal.side_2 for meal in category.mealInfo"
                    ng-change="saveMeals(selectedMeal2, category.category_name, 1)">
            </select><br>

            <select name="selectOptions3" id="selectOptions3"
                    ng-model="category.defaultMeal[2]"
                    ng-options="meal.entree + ' with ' + meal.side_1 + ', ' + meal.side_2 for meal in category.mealInfo"
                    ng-change="saveMeals(selectedMeal3, category.category_name, 2)">
            </select><br>

            <select name="selectOptions4" id="selectOptions4"
                    ng-model="category.defaultMeal[3]"
                    ng-options="meal.entree + ' with ' + meal.side_1 + ', ' + meal.side_2 for meal in category.mealInfo"
                    ng-change="saveMeals(selectedMeal4, category.category_name, 3)">
            </select><br>

            <select name="selectOptions5" id="selectOptions5"
                    ng-model="category.defaultMeal[4]"
                    ng-options="meal.entree + ' with ' + meal.side_1 + ', ' + meal.side_2 for meal in category.mealInfo"
                    ng-change="saveMeals(selectedMeal5, category.category_name, 4)">
            </select><br>

        </div>

        <button type="submit" ng-show="showCategoryHeadings">Submit</button>

    </form>

</div>